<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silver</title>
    <link rel="stylesheet" href="./css/home.css">
    <!---Custom Icon --->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.3.0/remixicon.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>
<body>
    
    <section class="header">
        <div class="container">
            <img src="./splide/images/logo.png" class="logo"><a href="index.html" class="comp-logo">ilver</a>
            <div class="header-text">

                <h2>
                    Silver Code: Crafting Excellence <br>in Programming for Seamless Solutions!
                    <br>

                </h2>
                <span class="square"></span>
                <h4>Unlock Your Coding Potential with Silver Code! <br></h4>
                <p>

At Silver Code, we believe that coding is not just a skill but <br> a gateway to endless possibilities. 
We are dedicated to empowering individuals with the<br>
 knowledge and expertise to excel in the world of programming. 
 Whether you're a beginner taking<br> your first steps or an experienced coder 
 looking to <br> enhance your skills, Silver Code is here to guide you 
on your coding journey. <br> <br> <br>

Our comprehensive curriculum covers a wide range of programming <br> languages and concepts, 
ensuring that you receive a well-rounded education <br> in the world of coding. From the fundamentals 
of HTML, CSS, and JavaScript <br>to advanced topics such as data structures, algorithms, <br>a
nd object-oriented programming, we've got you covered.
                </p>
                <button href="index.html" class="commo-btn">Read More</button>
                <div class="line">
                    <span class="line-1"></span><br>
                    <span class="line-2"></span><br>
                    <span class="line-3"></span>
                </div>
            </div>
            <div class="image-content">
                <img src="./splide/home0 (2).png">
            </div>
        </div>

    </section>

    <nav id="sideNav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="index.html">Landing Page</a></li>
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </nav>
    <button id="menu-btn"><i class="ri-menu-3-fill"></i></button>

    <!----About ---->
    <section class="about">

        <div class="about-left-col">
            <img src="./splide/abouyt.png">
            <h4 class="item">Don't let coding barriers hold you back. Join our coding website today and 
                unlock a world of possibilities. 
                Start coding, start creating, and start building your future in tech!"</h4>
                <h5 class="item">--------Daniel Rebecca--</h5>
        </div>
        <div class="about-right-col">
            <div class="about-text">
                <h1>About Us</h1>
                <span class="square"></span>
                <p>Welcome to our website! We are a team of dedicated individuals passionate about providing high-quality services to our clients. With years of experience and expertise, we strive to deliver exceptional results and exceed expectations. Our commitment to 
                    excellence drives us to constantly innovate and improve, ensuring that we meet the 
                    unique needs of each and every client. From conceptualization to execution, our talented 
                    team works collaboratively to create customized solutions that propel businesses forward. 
                    We understand the ever-evolving landscape of technology and stay up-to-date with the latest
                     trends, allowing us to offer cutting-edge solutions to our clients. Whether you need 
                     web development, mobile app creation, digital marketing, or IT consulting, 
                     we have the skills and knowledge to deliver outstanding outcomes. 
                     We take pride in our professionalism, attention to detail, and client-centric approach.
                      Your success is our priority, and we are dedicated to providing you with exceptional 
                      service that helps you achieve your goals. Contact us today to learn more about
                       how we can assist you in reaching new heights for your business.</p><br><br>
                       <div class="line">
                        <span class="line-1"></span><br>
                        <span class="line-2"></span><br>
                        <span class="line-3"></span>
                        <br>
                    </div>
                       <h3>As the tech industry continues to evolve, staying up-to-date with the latest programming
                         languages and frameworks is crucial. Our coding website keeps pace with the ever-changing 
                         landscape of technology, regularly updating our course offerings to include the most 
                         sought-after skills. You'll have access to the latest tools and techniques, 
                         ensuring that you remain at 
                        the forefront of innovation and equipped to tackle exciting coding projects.</h3>
                        <h4>------Joseph Parkinson</h4>
            </div>
        </div>
        

    </section>





    <script src="./js/home.js"></script>
</body>
</html>