<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silver</title>
    <link rel="shortcut icon" href="./splide/images/logo.png" type="image/x-icon">

    <!----custom css link --->
    <link rel="stylesheet" href="./css/style.css">

    <!----box icon link -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!---remixicon link---->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!----google fonts link--->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <header>
        <a href="#" class="logo"><img src="./splide/images/logo.png" class="img">ilver</a>

        <ul class="navlist">
            <li><a href="home.html">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#" class="sign-in">Sign Up</a></li>
        </ul>

        <div class="bx bx-menu" id="menu-icon"></div>

    </header>

    <section class="hero">

        <div class="hero-text">
            <h5>#6 Achievements</h5>
            <h4>Leading Business Co.</h4>
            <h1>Silver</h1>
            <p>
                Be among the world most Successful tech Coorperation, anything related to Tech.
                Silver Always Got your Back Web-design, Web-development etc.
            </p>
            <a href="#">Get Started</a>
            <a href="#" class="ctaa"><i class="ri-play-circle-line"></i>Explore</a>
        </div>

        <div class="hero-img">
            <img src="./splide/images/landing-img.png" alt="">
        </div>

    </section>

    <div class="icons">
        <a href="#"><i class="ri-github-fill"></i></a>
        <a href="#"><i class="ri-twitter-line"></i></a>
        <a href="#"><i class="ri-youtube-line"></i></a>
        <a href="#"><i class="ri-instagram-line"></i></a>
    </div>

    <div class="scroll-down">
        <a href="#"><i class="ri-arrow-down-line"></i></a>
    </div>

<!---Scrollreveal effect --->
<script src="https://unpkg.com/scrollreveal"></script>

<!----Custom js Link--->
<script src="./js/script.js"></script>

</body>
</html>